# Ignoriere PyCharm-Projektdateien
.idea/

# Ignoriere virtuelle Umgebung
.venv/

# Ignoriere heruntergeladene Datensätze
/previousdataset/
/Ingredients-2-2/

# Modelldateien
*.pt

# Sonstiges
__pycache__/
*.pyc